<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Notefy</title>
    <link >
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>Note Taking App</h1>
            <h3>Add your notes effortlessly!</h3>
        </div>
        <div class="top">
            <form method="POST" action="/">
                <input type="text" name="note" placeholder="Enter a note"> 
                <input type="hidden" name="action" value="add"> 
                <button type="submit">Add Note</button>
            </form>
        </div>
        <div class="todo">
            {% for index, note in notes %}
            <h3>{{ note }}</h3> 
            <div class="buttons">
                <form method="POST" action="/delete">
                    <input type="hidden" name="action" value="delete">
                    <input type="hidden" name="note_index" value="{{ index }}">
                    <button type="submit">Delete</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>